# Ignore everything
/*

# Ignore all files named .DS_Store or ending with .log
.DS_Store
.log

# Except these
# Files
!.gitignore
!.travis.yml
!CMakeLists.txt
!LICENSE
!README.md
!conanfile.txt
!vim_examples.md

# Directories
!bin
!cmake
!include
!src
!tests
tests/test_include
