# Ignore everything
/*

# Ignore all files named .DS_Store or ending with .log
.DS_Store
.log

# Except these
# Files
!.gitignore
!CMakeLists.txt
!conanfile.txt

# Directories
!cmake
!include
!src
!test
